@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;






* {
    font-family: "Poppins", sans-serif;
  }






  .wrapper::-webkit-scrollbar {
    width: 4px;
    height: 5px;
    background-color: #aaa;
    /* or add it to the track */
  
  }
  
  /* Add a thumb */
  .wrapper::-webkit-scrollbar-thumb {
    background: #03A9F4;
  }

  /* Scrollber */

  /* width */
  .scrollbar-0::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  .scrollbar-0::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .scrollbar-0::-webkit-scrollbar-thumb {
    background: #a7abe8;
  }

  /* Handle on hover */
  .scrollbar-0::-webkit-scrollbar-thumb:hover {
    background: #555;
  }




/* styles.css */
.thin-scrollbar::-webkit-scrollbar {
  width: 0; /* Adjust this value to make the scrollbar thinner or thicker */
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: white; /* Optional: Track color */
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #ffffff; /* Optional: Thumb color */
  border-radius: 0px; /* Optional: Round corners */
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ffffff; /* Optional: Thumb color on hover */
}





/* ant table style */
.ant-table-thead > tr > th {
  background-color: #3b6fdf !important;
  color: white !important;
  /* border: none !important; */
}

  .ant-table-cell {
    text-align: center;
  }
  
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    text-align: center !important;
  }
/* ant table style */










